name: Dependabot Auto Merge
permissions:
  contents: read
  pull-requests: write

on:
  pull_request:

jobs:
  auto-merge:
    runs-on: ubuntu-latest
    if: github.actor == 'dependabot[bot]' # Only trigger for Dependabot PRs

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Auto-merge Dependabot PRs
        uses: ahmadnassri/action-dependabot-auto-merge@v2
        with:
          target: major
          github-token: ${{ secrets.GITHUB_TOKEN }}